@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul,li {
    list-style: none;
}

body {
    height: 100vh;
    font-family: var(--main-font);
    color: var(--white-color);
}

h1 {
    padding: 2rem 0;
}

:root{
    font-size: 62.5%;
    --main-font: 'Roboto', sans-serif;
    --white-color: #FFF;
    --orange-color: #FFB800;
    --black-color: #000;
    --dark-gray-color: #6D6D6D;
    --light-gray-color: #AEAEAE;
}

.visually-hidden {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-calculator {
    width: 100vw;
    height: 100vh;
}

.calculator {
    max-width: 40rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 2rem;
    margin: auto auto;
    background-color: var(--black-color);
}

.calculator__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(6, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    grid-template-areas:
    "display display display display"
    "memory memory memory memory"
    "clear obracket cbracket divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equal";
}


.calculator__input {
    place-self: end;
    font-size: 2rem;
}

.calculator__btn {
    cursor: pointer;
    user-select: none;
    place-self: center;
    border-radius: 50%;
    min-width: 6rem;
    max-width: 100%;
    min-height: 6rem;
    max-height: 100%;
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__number {
    cursor: pointer;
    font-size: 2rem;
}

.calculator__btn:hover {
    filter: brightness(120%);
}

.calculator__btn:active {
    filter: brightness(80%);
}

.calculator__btn--dark-gray {
    background-color: var(--dark-gray-color);
}

.calculator__btn--light-gray {
    color: var(--black-color);
    background-color: var(--light-gray-color);
}

.calculator__btn--zero {
    border-radius: 3rem;
    height: 100%;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.calculator__number--zero {
    text-align: center;
}

.calculator__input:nth-of-type(1) {
    font-size: 4rem;
    grid-area: display;
    white-space: normal;
}
.calculator__input:nth-of-type(2) {
    font-size: 2rem;
    grid-area: memory;
    white-space: normal;
}
.calculator__btn:nth-of-type(3){ grid-area: clear; }
.calculator__btn:nth-of-type(4) { grid-area: obracket; }
.calculator__btn:nth-of-type(5)  { grid-area: cbracket; }
.calculator__btn:nth-of-type(6) { grid-area: divide; }
.calculator__btn:nth-of-type(7) { grid-area: seven; }
.calculator__btn:nth-of-type(8) { grid-area: eight; }
.calculator__btn:nth-of-type(9) { grid-area: nine; }
.calculator__btn:nth-of-type(10) { grid-area: multiply; }
.calculator__btn:nth-of-type(11) { grid-area: four; }
.calculator__btn:nth-of-type(12) { grid-area: five; }
.calculator__btn:nth-of-type(13) { grid-area: six; }
.calculator__btn:nth-of-type(14) { grid-area: subtract; }
.calculator__btn:nth-of-type(15) { grid-area: one; }
.calculator__btn:nth-of-type(16) { grid-area: two; }
.calculator__btn:nth-of-type(17) { grid-area: three; }
.calculator__btn:nth-of-type(18) { grid-area: add; }
.calculator__btn:nth-of-type(19) { grid-area: zero; }
.calculator__btn:nth-of-type(20) { grid-area: decimal; }
.calculator__btn:nth-of-type(21) { grid-area: equal; }
